body{
  
    background-image: url(key.jpg);
    min-height: 100vh;
    background-size: contain;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    z-index: -1;  
    background-position: bottom;  
}


