body{
    cursor: url('./images/robotwings.png'), auto;
    min-height: 100vh   ;
}

.boat{
    position: absolute;
    bottom: 10px;
    height: 200px;
    width: 200000px;
    background-color: white;
    border: 2px solid black;
}

.boat:hover{
    cursor: url('./images/cursor.png'), auto;
    
}