body{
  
    background-image: url(lvl1.jpg);
    min-height: 100vh;
    background-size: contain;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    z-index: -1;  
    background-position: bottom;  
}


.ttpbutton{
    position: absolute;
    top:82%;
    left: 75%;
    width: 200px;
    height: 30px;
}