body{
  
    background-image: url(lvl1.jpg);
    min-height: 100vh;
    background-size: contain;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    z-index: -1;  
    background-position: bottom;  
}



.ttpbutton{
    position: absolute;
    top:82%;
    left: 76%;
    width: 150px;
    height: 40px;
    background-color: rgba(255, 255, 255, 0);
   
}


.textbox{
    position: absolute;
    top:72%;
    left: 20%;
    color: rgb(0, 0, 0);
    font-family: 'Raleway', sans-serif;
}