body{
  
    background-image: url(lvl2-bg.jpg);
    min-height: 100vh;
    background-size: contain;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    z-index: -1;  
    background-position: bottom;  
}

.obstacle-1{
    position: absolute;
    width: 125px;
    height: 115px;
   
    z-index: 10;
    /* Put the image here of the obstacle */
    /* background-image: url(); */
    background-image: url(box1.jpg);
    background-size: cover;
}

.obstacle-2{
    position: absolute;
    width: 125px;
    height: 70px;
   
    z-index: 10;
    /* Put the image here of the obstacle */
    /* background-image: url(); */
    background-image: url(box2.jpg);
    background-size: cover;
}

.obstacle-1{
    left: 75%;
    top: 80%
}
.obstacle-2{
    left: 65%;
    top: 86%
}

.ttpbutton{
    position: absolute;
    top:90%;
    left: 65%;
    width: 250px;
    height: 30px;
}


.textbox{
    position: absolute;
    top:71%;
    left: 63%;
    color: rgb(0, 0, 0);
    font-family: 'Raleway', sans-serif;
}