.obstacle{
    position: absolute;
    width: 90px;
    height: 90px;
   
    z-index: 10;
    /* Put the image here of the obstacle */
    /* background-image: url(); */
    background-image: url(cardboard.png);
    background-size: cover;
}

.key{
    position: absolute;
    width: 90px;
    height: 90px;
    left: 20%;
    top: 10%;
    /* background-color: purple; */
    /* Put the image here of the obstacle */
    background-image: url(betterkey.png);
    background-size: cover;
}


.obstacle-1{
    left: 20%;
    top: 10%
}
.obstacle-2{
    left: 50%;
    top: 30%
}



.broken{
    animation: 1s brokeStuff forwards;
}

@keyframes brokeStuff{
    100%{
        left: 30%;
       
    }
}
.rotate{
    animation: 1s rotate forwards;
}
@keyframes rotate{
    100%{
        left: 30%;
        top: 10%;
        transform: rotate(-90deg)
    }
}